.log{
    color:purple;
    font-size: 40px;
    text-align: center;
}
span{
a{
    color:purple;
    font-weight: 500;
    font-size: 15px;
    margin-left: 120px;

}
}
.code{
form{
width:28%;
margin:auto;
margin-top: 80px;
box-shadow: 0px 0px 5px 7px purple;
border-radius: 15px;
}}
span{
margin-left: 120px;
}
.one{
color:red;
margin-left: 140px;
}
p{
label{
    font-size: 25px;
    font-weight: 500;
    margin-left: 50px;
}
}
.for{
font-size:15px;
margin-left: 90px;
 margin-top: 40px;
}
.fors{
font-size:15px;
margin-left: 90px;
margin-bottom: 30px;
}
.ang{
margin-left: 10px;
}
.angs{
margin-left: 10px;
}
.but{
background-color:purple !important;
color:white !important;
margin-left: 170px !important;
// margin-bottom: 30px !important;
margin-top: 30px !important;
padding:8px 10px !important;
border-radius: 15px;
font-size: 20px !important;
}
img{
max-width: 100%;  
}