.name1{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color:black;
}
.name2{
    color:black !important;
    font-size:40px !important;
    background-color: purple;

}
.name3{
    color:black;
    font-size: 30px;
}
.name4{
    color:black !important;
}
.name5{
    color:black !important;
    font-size: large;
}
.full{
    background-color: purple !important;
}
.like{
    text-decoration: none;
    font-size: 20px;
}
.add{
    color:black !important;
    // background-color: black !important;
    margin-top: 13px !important;
}